.App {
  font-family: sans-serif;
  /* text-align: center; */
  nav {
    text-align: center;
  }
}
.movie-data-container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.user-container {
  img {
    height: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
  }

  p {
    font-size: 24px;
  }

  span {
    font-weight: bold;
    font-style: italic;
  }
}

.user-list-container {
  display: grid;
  gap: 42px;
}

.movie {
  max-width: 300px;

  img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 10px 0px 0px rgb(0 0 0 / 22%);
  }
  .tittle {
    display: flex;
    justify-content: space-between;
  }
  p {
    text-align: justify;
  }
}

.like-btn-container {
  button {
    font-size: 20px;
  }
  display: flex;
  gap: 16px;
}
